@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */
@import "tailwindcss";

body {
  font-family: "Roboto", poppins;
  /* font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

.card-container {
  @apply bg-white rounded-xl p-5 border border-gray-200;
}

.header {
  @apply bg-white border-b-2 border-gray-200 p-4 md:px-6 sticky top-0 z-10;
}

.main {
  @apply flex-1 flex flex-col items-center justify-center px-4 md:px-6;
}
